<%= form_for :restaurant, url: restaurant_path(@restaurant), method: :patch do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :cuisines %><br>
      <%= f.text_area :cuisines %>
    </p>

    <p>
      <%= f.label :rating %><br>
      <%= f.text_field :rating %>
    </p>

    <p>
      <%= f.label :accepts_10bis %><br>
      <%= f.check_box :accepts10bis %>
    </p>

    <p>
      <%= f.label :address %><br>
      <%= f.text_field  :address %>
    </p>

    <p>
      <%= f.label "max delivery time (in minutes)" %><br>
      <%= f.text_field :max_delivery_times %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>